# Ignore directories
/build/
/test/

# Ignore vscode
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

README_SHORT.md
README_SHORT.pdf
README.pdf

# Ignore dependency managers' directories
/CMakeFiles/


